@import '../app.component.scss';

.landing {
  &__section {
    min-height: 100vh;
    background-color: $white;

    &--image {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    &--intro {
      @extend .landing__section--image;
      background-image: url('./img/obraz1.jpg');

      @media (max-width: 950px) {
        background-position: right;
      }
    }

    &--bottom {
      @extend .landing__section--image;
      background-image: url('./img/obraz2.jpg');
    }
  }

  &__text {
    &--intro {
      text-align: center;

      @media (min-width: 500px) {
        text-align: left;
        font-size: 2.5rem;
      }

      @media (min-width: 750px) {
        font-size: 3.75rem;
      }
    }
  }

  &__box {
    margin-top: 30px;

    @media (min-width: 750px) {
      &:nth-child(even) {
        text-align: left;
      }

      &:nth-child(odd) {
        text-align: right;
      }
    }

    &--picture {
      width: 60px;

      @media (min-width: 750px) {
        width: 100px;

        &--left {
          float: left;
          margin-right: 20px;
        }

        &--right {
          float: right;
          margin-left: 20px;
        }
      }
    }

    &--container {
      @media (min-width: 750px) {
        display: inline-block;
        padding-top: 15px;

        &--friends {
          padding-top: 25px;
        }

        &--trophy {
          padding-top: 5px;
        }
      }
    }

    &--title {
      color: $strava-color;
      font-size: 1.5rem;
      @media (min-width: 750px) {
        font-size: 2rem;
      }
    }

    &--description {
      color: $black;
      font-size: 1rem;
    }
  }
}

.section {
  &__header {
    background-color: $black;
    color: $white;
    height: 45px;
  }

  &__container {
    max-width: 960px;
    margin: auto;
    display: flex;
    color: $white;

    &--intro {
      height: calc(100vh - 45px);
      align-items: center;
    }

    @media (max-width: 990px) {
      padding: 0 15px;
    }

    &--details {
      flex-direction: column;
      height: inherit;
      color: $black;

      padding-top: 25px;
      font-size: 1rem;
      text-align: center;
    }
  }

  &__title {
    font-size: 2rem;
    font-family: 'Yanone Kaffeesatz', 'Helvetica', Arial, sans-serif;
    width: auto;
    margin-right: auto;
    margin-bottom: 0;
    align-self: center;

    &--details {
      font-size: 1.5rem;

      @media (min-width: 750px) {
        font-size: 2rem;
      }
    }
  }

  &__menu {
    display: flex;

    &--login {
      color: $white;
      margin: 10px;
    }

    &--register {
      margin: 10px;
      color: $strava-color;
    }

    &--desktop {
      @media (max-width: 499px) {
        display: none;
      }
    }

    &--mobile {
      margin: 6px 10px;
      @media (min-width: 500px) {
        display: none;
      }
    }
  }
}

.strava {
  font-family: 'Yanone Kaffeesatz', 'Helvetica', Arial, sans-serif;

  &:first-of-type {
    color: $strava-color;
    text-transform: uppercase;
  }
}

.m-t-30 {
  margin-top: 30px;
}

.footer {
  background-color: $black;

  &-container {
    @extend .section__container;
    justify-content: space-between;
    align-items: center;
  }

  &-menu {
    &-link {
      color: $strava-color;
    }
  }
}
