<section class="first_section">
  <header class="landing-header">
    <div class="container">
      <h1 class="landing-header--title"><span class="strava-color text-uppercase">Strava</span> Challenge</h1>
      <a href="#" class="landing-header--login">Login</a>
      <a href="#" class="landing-header--register strava-color">Register</a>
    </div>
  </header>
  <div class="">
    Wybierz trasę i rywalizuj z przyjaciółmi.
  </div>
</section>

<section class="second_section">
  <div class="">
    <header>
      <h1>Strava Challenge - w czterech prostych krokach zoorganizujesz wyścig dla siebie i znajomych</h1>
    </header>
    <div class="">
      <img src="" alt="">
      <h2>1. Wybierz trasę</h2>
      <p>Z segmentów Stravy wybierz trasę, na której będziecie rywalizować.</p>
    </div>
    <div class="">
      <img src="" alt="">
      <h2>2. Zaproś znajomych</h2>
      <p>Zaproś do wspólnej zabawy swoich znajomych i przyjaciół.</p>
    </div>
    <div class="">
      <img src="" alt="">
      <h2>3. Ustal czas trwania</h2>
      <p>Wybierz daty rozpoczęcia i zakończenia waszych zmagań.</p>
    </div>
    <div class="">
      <img src="" alt="">
      <h2>4. Rywalizuj</h2>
      <p>W określonym czasie pokonaj trasę jak najszybciej.</p>
      <p>Pobijaj rekordy swoje i swoich znajomych. Wygrywa najszybszy.</p>
    </div>
  </div>
</section>

<section class="third_section">
  <div class="">
    <p>Baw się</p>
    <p>Rywalizuj</p>
    <p>Zwyciężaj</p>
    <p>Strava Challenge</p>
  </div>
  <footer>
    Copyright 2017 - Mateusz Stempniewicz
  </footer>
</section>
