.first_section {
  background-image: url('./img/obraz1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.second_section {
  background-color: white;
  height: 100vh;
}

.third_section {
  background-image: url('./img/obraz2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -150px; 
  height: 100vh;

}
