<section class="landing-section landing-section--top">
  <header class="landing-header">
    <div class="landing-container">
      <h1 class="landing-header--title"><span class="strava">Strava</span> <span>Challenge</span></h1>
      <a href="#" class="landing-header--login">Login</a>
      <a href="#" class="landing-header--register">Register</a>
    </div>
  </header>
  <div class="landing-container landing-container-info" style="">
    <h2 class="landing-info-text">Wybierz trasę i <br> rywalizuj z przyjaciółmi</h2>
  </div>
</section>

<section class="landing-section">
  <!-- <div class="container3">
    <header class="header">
      <h2><span class="strava strava-color strava-name">Strava</span> <span class="strava">Challenge</span> - w czterech prostych krokach zoorganizujesz wyścig dla siebie i znajomych</h2>
    </header>
    <div class="box box-left">
      <img class="picture picture-left" src="./assets/images/mapa.png" alt="">
      <div style="float: right;">
        <h2>1. Wybierz trasę</h2>
        <p>Z segmentów Stravy wybierz trasę, na której będziecie rywalizować.</p>
      </div>
    </div>
    <div class="box box-right">
      <img class="picture picture-right" src="./assets/images/friends.png" alt="">
      <div style="float: left; margin-top: 20px; text-align: end;">
        <h2>2. Zaproś znajomych</h2>
        <p>Zaproś do wspólnej zabawy swoich znajomych i przyjaciół.</p>
      </div>
    </div>
    <div class="box box-left">
      <img class="picture picture-left" src="./assets/images/calendar.png" alt="">
      <div style="float: right;">
        <h2>3. Ustal czas trwania</h2>
        <p>Wybierz daty rozpoczęcia i zakończenia waszych zmagań.</p>
      </div>
    </div>
    <div class="box box-right">
      <img class="picture picture-right" src="./assets/images/trophy.png" alt="">
      <div style="float: left; text-align: end;">
        <h2>4. Rywalizuj</h2>
        <p style="margin: 0px;">W określonym czasie pokonaj trasę jak najszybciej.</p>
        <p style="margin: 0px;">Pobijaj rekordy swoje i swoich znajomych. Wygrywa najszybszy.</p>
      </div>
    </div>
  </div> -->
</section>

<section class="landing-section landing-section--bottom">
  <div class="landing-container landing-container-summary">
    <p class="m-0 landing-container-summary-text">Baw się</p>
    <p class="m-0 landing-container-summary-text">Rywalizuj</p>
    <p class="landing-container-summary-text">Zwyciężaj</p>
    <h2 class="landing-container-summary-title m-t-30">
      <span class="strava">Strava</span> <span>Challenge</span>
    </h2>
  </div>
  <!-- <footer>
    Copyright 2017 - Mateusz Stempniewicz
  </footer> -->
</section>
