<section class="landing__section landing__section--intro">
  <header class="section__header">
    <div class="section__container">
      <h1 class="section__title"><span class="strava">Strava</span> <span>Challenge</span></h1>

      <div class="section__menu section__menu--desktop">
        <a href="#" class="section__menu section__menu--login">Login</a>
        <a href="#" class="section__menu section__menu--register">Register</a>
      </div>
      <hamburger-menu class="section__menu section__menu--mobile"></hamburger-menu>
    </div>
  </header>
  <div class="section__container section__container--intro">
    <h2 class="landing__text--intro">Wybierz trasę i <br> rywalizuj z przyjaciółmi</h2>
  </div>
</section>

<section class="landing__section">
  <div class="section__container section__container--details">
    <header class="">
      <h2 class="section__title--details"><span class="strava">Strava</span> <span class="strava">Challenge</span> - w czterech prostych krokach zoorganizujesz wyścig dla siebie i znajomych</h2>
    </header>
    <div class="landing__box">
      <img class="landing__box--picture landing__box--picture--left" src="./assets/images/mapa.png" alt="">
      <div class="landing__box--container">
        <h2 class="landing__box--title">1. Wybierz trasę</h2>
        <p class="landing__box--description">Z segmentów Stravy wybierz trasę, na której będziecie rywalizować.</p>
      </div>
    </div>
    <div class="landing__box" style="margin-top: 5px;">
      <img class="landing__box--picture landing__box--picture--right" src="./assets/images/friends.png" alt="">
      <div class="landing__box--container landing__box--container--friends" >
        <h2 class="landing__box--title">2. Zaproś znajomych</h2>
        <p class="landing__box--description">Zaproś do wspólnej zabawy swoich znajomych i przyjaciół.</p>
      </div>
    </div>
    <div class="landing__box">
      <img class="landing__box--picture landing__box--picture--left" src="./assets/images/calendar.png" alt="">
      <div class="landing__box--container">
        <h2 class="landing__box--title">3. Ustal czas trwania</h2>
        <p class="landing__box--description">Wybierz daty rozpoczęcia i zakończenia waszych zmagań.</p>
      </div>
    </div>
    <div class="landing__box">
      <img class="landing__box--picture landing__box--picture--right" src="./assets/images/trophy.png" alt="">
      <div class="landing__box--container landing__box--container--trophy">
        <h2 class="landing__box--title">4. Rywalizuj</h2>
        <p class="landing__box--description" style="margin: 0px;">W określonym czasie pokonaj trasę jak najszybciej.</p>
        <p class="landing__box--description" style="margin: 0px;">Pobijaj rekordy swoje i swoich znajomych. Wygrywa najszybszy.</p>
      </div>
    </div>
  </div>
</section>

<section class="landing__section landing__section--summary">
  <div class="section__container section__container--summary">
    <p class="m-0 summary--text">Baw się</p>
    <p class="m-0 summary--text">Rywalizuj</p>
    <p class="summary--text">Zwyciężaj</p>
    <h2 class="summary--title m-t-30">
      <span class="strava">Strava</span> <span>Challenge</span>
    </h2>
  </div>
</section>

<footer class="footer">
  <div class="footer__container">
    <h2 class="m-0">
      <span class="strava">Strava</span> <span>Challenge</span>
    </h2>
    <div class="copyright">
      <p class="m-0">Copyright 2017 - Mateusz Stempniewicz</p>
    </div>
    <div class="footer__menu">
      <a href="#" class="footer__menu--link">About Me</a>&nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="#" class="footer__menu--link">Blog</a>&nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="#" class="footer__menu--link">Contact</a>&nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="#" class="footer__menu--link">FAQ</a>
    </div>
  </div>


</footer>
